<div class="col-xs-12">
	<h1>{{question.question}}</h1>

	<div>
		<div ng-repeat="choice in question.choices">
			{{$index}}: {{choice}}
		</div>
	</div>
	<br>
	<div ng-show="message" class="alert alert-danger" role="alert">
		<span class="sr-only">Error:</span>
		{{message}}
	</div>
	<div>
		<span ng-repeat="choice in question.choices">
			<button class="btn btn-primary" ng-click="selectChoice(choice)">{{$index}}</button>
		</span>
	</div>
	<br>
	<div class="well">
		<button class="btn btn-primary btn-block" ng-click="showHint = !showHint">Hint</button>
		<br>
		<div ng-show="showHint">
			<p>{{question.hint}}</p>
		</div>
	</div>
	
</div>
	